<div class="mx-8 my-4">
    <div class="bg-white drop-shadow-md border-gray-400 rounded-md p-6 mb-4">
        <h1 class="text-2xl font-bold">Your Cart</h1>
    </div>

    <div class="grid grid-cols-12 gap-4">
        <div [class]="cartService.cart().length === 0 ? 'col-span-12' : 'col-span-12 lg:col-span-8'">
            <div class="bg-white drop-shadow-md border-gray-400 rounded-md p-6 min-h-[200px]">
                @for (item of cartService.cart(); track item.id) {
                <app-cart-item [item]="item" />
                }
                @if (cartService.cart().length === 0) {
                <div class="mx-auto">
                    <p class="text-xl flex justify-center">Your cart is empty!</p>
                    <p class="text-sm flex justify-center mb-4">Add items to it now.</p>
                    <div class="flex justify-center">
                        <app-button label="Shop Now" routerLink="/" />
                    </div>
                </div>
                }
            </div>
        </div>

        @if (cartService.cart().length > 0) {
        <div class="col-span-12 lg:col-span-4">
            <div class="bg-white drop-shadow-md border-gray-400 rounded-md p-6 min-h-[200px]">
                <app-order-summary />
            </div>
        </div>
        }
    </div>
</div>